{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> 
  <title>Hamburger Hell</title>
</head>
<body> 
    
    {% block content %}
    
    <h2>Burgatory</h2>
    <h5>Because Heaven has no Milkshakes</h5>
    <hr />
    <p>Hire the Burger Collector</p>
    
    {% endblock %}
    <hr />
    <p>Don't give into sin, eat something</p>
    <footer>
        <div class="footer-text">All Fries Preserved, &copy; 2019 McWhopper LLC</div>
    </footer>
</body>
</html>