body {
    background:url('https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #fff;
    margin-bottom: 100px;
  }

  .nav-wrapper {
      background: #d36607;
  }

  .side-nav {
    background: #d36607;
  }
  
  main {
    flex: 1 0 auto;
  }

  .card-content {
      color: #000;
  }
  
  .page-footer {
    bottom: 0;
    padding-top: 20px;
    color: #fff;
    position: fixed !important;
    background-color: #d36607;
    width: 100% !important;
    display: flex !important;
    align-content: flex-end;
    height: 65px !important;
    margin-top: 50px;
  }

  .footer-text {
    float: right;
  }

  /* styling the generated table */
  input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    color: #fff;
  }

  textarea {
    color: #fff;
  }